{% extends 'base.html' %}

{% block title %}
Р Ы Б А К И
{% endblock %}

{% block body %}
    <div class="container">
        <h3>О рыбалке</h3>
        <p><div id="mf-fi2"><b>Рыбалка</b> – это то слово, которое значит целый мир для многих людей на планете. Издревле для человека одним из самых важных видов промысла было рыболовство и именно на его основе и появилось у людей непревзойденное увлечение, имя которому рыбалка!
Главной чертой <i>рыбалки</i> является то, что в этом занятии абсолютно каждый человек сможет найти для себя что-то интересное и увлекательное. Многих в первую очередь привлекает сам процесс выуживания, а также подготовка к нему и выловленные трофеи. Также рыбалка позволяет людям окунуться в непревзойденную атмосферу дикой природы, чистого воздуха и уединения. Рыбалка в полной своей мере является непревзойденным антидепрессантом и стимулятором жизненной силы для её истинных ценителей. Каждый, кто ни разу не бывал на рыбалке – просто обязан сделать это, только так можно познать суть знаменитой пословицы «без труда – не вытянешь и рыбку из пруда».</div></p>
        <b>Здесь мы делимся впечатлениями о рыбацких путешествиях, фотографиями, интересными историями, советами</b>
    </div>
{% endblock %}