{% extends 'base.html' %}

{% block title %}
Места
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Наши места</h3>
        <p>
            <b>Карелия</b> – одно из самых интересных и загадочных мест в России. Она по праву считается северной жемчужиной страны, которую любят посещать туристы из разных стран. Отдых здесь очень отличается от популярных морских курортов, но живописные виды и огромное количество архитектурных и природных достопримечательностей сполна компенсирует отсутствие солнечных пляжей. Такие туры выбирают путешественники, предпочитающие активный отдых – сплавы по горным рекам, туристические походы и рыбалку летом, а также лыжи и сноубординг зимой. Путешествие по этому сказочному региону невозможно представить без посещения основных его достопримечательностей: завораживающих водопадов, Ладожского и Онежского озер, горы Воттоваара и многочисленных музеев и заповедников.
        </p>

        <p>
            <b>Алтай</b> – край, который щедро одарила природа. Каждый путешественник найдет здесь что-то свое: водник – реки, археолог – древние стоянки и пещеры, родители с детьми – комфорт и безопасность, гурман – вкусные блюда. Алтайский край очень большой и разный
        </p>

        <p>
            <b>Байкал</b>. Это прекрасное озеро является самым глубоким и самым чистым озером на планете. Максимальная глубина Байкала - 1620 метров, а площадь - 31, 5 квадратных километров. Вода в озере кристальная, можно смело черпать руками и пить. В ясную погоду голубая гладь озера сливается с горизонтом.
        </p>
    </div>
{% endblock %}